  <form action="/edit" method="put">
    <input type="text" required name="new-album" value="<%= @album[0][1] %>">
    <input type="text" required name="about-new-album" value="<%= @album[0][2] %>">
    <input type="text" name="cover" value="<%= @album[0][3] %>">
    <input type="text" name="genre" value="<%= @album[0][4] %>">
    <input type="text" name="year" value="<%= @album[0][5] %>">
    <input type="submit">
  </form>