<br>
<img src="<%= @album[0][3] %>">

<div>
  <span><%= @album[0][1] %> | </span>
  <span><%= @album[0][2] %> | </span>
  <span><%= @album[0][4] %> | </span>
  <span><%= @album[0][5] %></span>
  <form action="/albums/edit/<%= @album[0][0] %>" method="get">
    <button type="submit">edit</button>
  </form>
  <button type="button" class="clear-songs" data-id="<%= @album[0][0] %>">clear songs</button>
  <button type="button" class="delete-album" data-id="<%= @album[0][0] %>">delete album</button>
</div>

<hr>

<div>
  <ol>
    <% @songs.each do |song| %>
      <li><a href = "<%= song[2] %>">
        <span><%= song[1] %></span></a>
        <button class="edit-song" data-albid="<%= @album[0][0] %>" data-id="<%= song[0] %>" data-name="<%= song[1] %>" data-link="<%= song[2] %>">edit</button>
        <button class="delete-song" data-albid="<%= @album[0][0] %>" data-id="<%= song[0] %>">Delete</button>
        <span class="make-edit"></span>
      </li>
    <% end %>
  </ol>
</div>

<hr>

<form action="/albums/<%= @album[0][0] %>" method="post">
  <input type="text" required placeholder="Song Name" name="song-name">
  <input type="text" required placeholder="youtube link" name="youtube-link">
  <input type="submit">
</form>