<br>
<img src="<%= @album[0][3] %>">

<div>
  <span><%= @album[0][1] %> | </span>
  <span><%= @album[0][2] %> | </span>
  <span><%= @album[0][4] %> | </span>
  <span><%= @album[0][5] %></span>
  <form action="/edit/albums/<%= @album[0][0] %>" method="get">
    <button type="submit">edit</button>
  </form>
</div>

<div>
  <ol>
    <% @songs.each do |song| %>
      <li><a href = "<%= song[2] %>">
        <span><%= song[1] %></span>
<!--         <form action="/edit/song/<%#= song[0] %>" method="get">
          <button type="button">edit</button>
        </form> -->
      </a></li>
    <% end %>
  </ol>
</div>

<form action="/albums/<%= @album[0][0] %>" method="post">
  <input type="text" required placeholder="Song Name" name="song-name">
  <input type="text" required placeholder="youtube link" name="youtube-link">
  <input type="submit">
</form>